rect.CNV_Filling {
   stroke:none;
   fill:#cccccc;
}

line.CNV_Filling
{
stroke:#cccccc;
stroke-width:30
}

circle.Presence_Sensor_OFF
{
fill:#ffffff;
stroke:#000000;
stroke-width:2
}

circle.Presence_Sensor_ON
{
fill:#ff7700;
stroke:#000000;
stroke-width:2
}

polygon.Stopper_ON
{
fill:#ff0000;
stroke:#000000;
stroke-width:1
}

polygon.Stopper_OFF
{
fill:#ffffff;
stroke:#000000;
stroke-width:1
}

path.CNV_Filling
{
fill:#cccccc;
stroke-width:3;
stroke:#ff0000
}

rect.RFID_Sensor_OFF
{
fill:#ffffff;
stroke-width:2;
stroke:#000000
}


.pg-normal 
{
color: black;
font-weight: normal;
text-decoration: none;    
cursor: pointer;    
}
.pg-selected 
{
color: black;
font-weight: bold;        
text-decoration: underline;
cursor: pointer;
}

